body {
    background: 
    linear-gradient(
        rgba(36, 14, 17, 0.80),
        rgba(36, 14, 17, 0.80)
    ),

    url("images/eight_horns.png");
}

/*Fonts*/

h1 {
    color: #722f37;
    font-family: 'Georgia', Times, serif;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    color: #722f37;
    font-family: 'Georgia', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    color: #722f37;
    font-family: 'Georgia', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float: left;
}

/*HEADER and Nav Bar*/

header {
    background-color: #DFDFDF;
    height: 40px;
    width: 100%;
    padding-bottom: 37px;
    margin: 0;
}

#title {
    color: white;
    background-color: #722f37;
    width: 250px;
    float: left;
    display: block;
    padding: 27px 0px;
    margin-left: 100px;
    text-align: center;
}

.menu-item {
    width: 15%;
    margin: 30px 15px;
}

#menu-item-push { 
    float: right;
    width: 500px; 
}

.border-item {
    border: solid 1px #323232; 
    border-top: #DFDFDF;
    border-bottom: #DFDFDF;
    padding: 0 30px 0 20px;
    margin-left: 10px;
}

/*Main Content Section*/

#main-content-line {
    background-color: lightgray;
    height: 2px;
    margin-bottom: 20px;
}

.side-bar {
    background-color: #DFDFDF;
    height: 230px;
    width: 270px;
    margin-left: 27px;
    margin-top: 13px;
    float: left;
    clear: right;
}

.side-bar h3 {
    border: 1px solid #C8C8C8;
    padding: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
}

#icon-align a {
    margin: 3px;
}

#icon-align {
    text-align: center;
    margin-top: 20px;
}

/*Centers the "About Me" and "Connect with Me" titles*/
.centered {
    padding: 25px;
}

/*ABOUT Main Content Section*/

.main-content {
    background-color: #DFDFDF;
    width: 650px;
    height: 600px;
    margin: 13px 13px 30px 100px;
    float: left;
    clear: both;
    padding-bottom: 30px;
}

#profile-picture {
    height: 200px;
    width: 220px;
    float: left;
    margin-right: 15px;
}

.about-content {
    float: left;
    
}

.about-content p {
    line-height: 1.5;
}

/*PORTFOLIO Main Content Section*/
.main-content-portfolio {
    background-color: #dfdfdf;
    width: 650px;
    height: 800px;
    margin: 13px 13px 30px 100px;
    float: left;
    clear: both;
}

.portfolio-container {
    height: 650px;
    width: 600px;
    margin: auto;
}

.portfolio-container p {
    display: block;
    width: 250px;
    text-align: center;
    background-color: #323232;
    padding: 10px;
    margin-top: 135px;
    color: white;
    font-weight: bold;    
    opacity: .7;
}

/*Hover effects*/

#cyoa-pic:hover {
    height: 180px;
    width: 270px;
    background:      linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    ),
    url(images/cyoa.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
}

#hanged-pic:hover {
    height: 180px;
    width: 270px;
    background:      linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    ),
    url(images/hanged.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
}

#rpg-pic:hover {
    height: 180px;
    width: 270px;
    background:      linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    ),
    url(images/rpg.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
}

#trivia-pic:hover {
    height: 180px;
    width: 270px;
    background:      linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    ),
    url(images/trivia.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
}

#horror-pic:hover {
    height: 180px;
    width: 270px;
    background:      linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    ),
    url(images/horror.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
}

#monster-pic:hover {
    height: 180px;
    width: 270px;
    background:      linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    ),
    url(images/monster.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
}

/*Hover effect END*/

/*Portfolio images*/

#cyoa-pic {
    height: 180px;
    width: 270px;
    background:      
    linear-gradient(
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .5)
    ),
    url(images/cyoa.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
    float: left;
}

#hanged-pic {
    height: 180px;
    width: 270px;
    background:      
    linear-gradient(
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .5)
    ),
    url(images/hanged.jpg) center no-repeat;    
    background-size: 100% 100%;
    margin: 10px;
    float: right;
}

#rpg-pic {
    height: 180px;
    width: 270px;
    background:      
    linear-gradient(
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .5)
    ),
    url(images/rpg.jpg) center no-repeat;
    background-size: 100% 100%;
    margin: 10px;
    float: left;
}

#trivia-pic {
    height: 180px;
    width: 270px;
    background:      
    linear-gradient(
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .5)
    ),
    url(images/trivia.jpg) center no-repeat;    
    background-size: 100% 100%;    
    margin: 10px;
    float: right;
}

#horror-pic {
    height: 180px;
    width: 270px;
    background:      
    linear-gradient(
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .5)
    ),
    url(images/horror.jpg) center no-repeat;    
    background-size: 100% 100%;    
    margin: 10px;
    float: left;
}

#monster-pic {
    height: 180px;
    width: 270px;
    background:      
    linear-gradient(
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .5)
    ),
    url(images/monster.jpg) center no-repeat;    
    background-size: 100% 100%;    
    margin: 10px;
    float: right;
}

/*Portfolio images END*/

/*CONTACT Main Content Section*/

.contact-content {
    background-color: #DFDFDF;
    width: 650px;
    height: 600px;
    margin: 13px 13px 30px 100px;
    float: left;
    clear: both;
    padding-bottom: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #722f37;
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer; 
}

input[type=submit]:hover {
    background-color: #722f37;
}


/*FOOTER*/

#copy-text {
    position: relative;
    top: 30%;
    left: 45%;
    color: white;
    font-size: 12px;
    margin: auto;
    text-align: center;    
}

footer {
    position: relative;
    background-color: #323232;
    height: 100px;
    margin-top: 100px;
    border: 6px solid #722f37;
    border-right: #323232;
    border-left: #323232;
    border-bottom: #323232;
    clear: both;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 980px) {

/*Consistent Page Elements 980px*/

    .main-section {
        width: 980px;
    }

    .menu-item {
        float: left;
    }

    #menu-item-push {
        width: 400px;
    }

    .side-bar {
        height: 175px;
        margin-top: 32px;
        margin-left: 10px;
    }

    .side-bar h3 {
        padding-top: 0px;
    }

    footer {
        height: 80px;
        border-top: 10px solid #722f37;
        padding-top: 10px;
    }

    footer p {
        text-align: center;
    }

/*ABOUT Page Elements 980px*/

    .main-content {
        width: 400px;
        height: auto;
        margin: 30px 30px 30px 120px;
    }

    #profile-picture {
        height: 275px;
        width: 350px;
        margin: 20px auto;
    }

    #title {
        margin-left: 115px;
    }

/*PORTFOLIO Page Elements 980px*/

    .main-content-portfolio {
        width: 400px;
        height: auto;
        padding-bottom: 50px;
        margin: 30px 30px 30px 120px;
    }

    .portfolio-container {
        width: 400px;
        height: auto;
        margin-right: 0px;
        margin-left: -5px;
    }

    .portfolio-container p {
        margin-top: 170px;
        padding: 15px 0;
        width: 340px;
    }

    #cyoa-pic, #hanged-pic, #rpg-pic, #trivia-pic, #horror-pic, #monster-pic  {
        width: 85%;
        height: 225px;
        margin-bottom: 30px;
        float: left;
    }

/*Hover effects*/

    #cyoa-pic:hover {
        height: 225px;
        width: 85%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/cyoa.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #hanged-pic:hover {
        height: 225px;
        width: 85%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/hanged.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #rpg-pic:hover {
        height: 225px;
        width: 85%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/rpg.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #trivia-pic:hover {
        height: 225px;
        width: 85%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/trivia.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #horror-pic:hover {
        height: 225px;
        width: 85%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/horror.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #monster-pic:hover {
        height: 225px;
        width: 85%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/monster.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

/*Hover effect END*/

/*CONTACT Page Elements 980px*/


.contact-content {
    width: 400px;
    height: auto;
    padding-bottom: 10px;
    margin: 30px 30px 30px 120px;
}

} /*END 980px Media Query*/

@media screen and (max-width: 768px) {

/*Consistent Page Elements 768px*/

    .main-section {
        width: 768px;
    }

    #title {
        margin-left: 20px;
    }

    #menu-item-push {
        width: 330px;
    }

    .side-bar {
        height: 175px;
        width: 710px;
        margin: 40px 10px 30px 25px;
    }

    .side-bar h3 {
        border-bottom: 1.5px solid darkgray;
        padding-left: 0px;
    }

    footer {
        height: 80px;
        border-top: 10px solid #722f37;
        padding-top: 10px;
    }

    #icon-align {
        text-align: left;
        margin-top: 20px;
    }

/*ABOUT Page Elements 768px*/

    .main-content {
        width: 710px;
        height: auto;
        margin: 40px 10px 0 25px;
    }

    #profile-picture {
        height: 275px;
        width: 350px;
        margin: 0px 25px 10px 0px;
    }

/*PORTFOLIO Page Elements 768px*/

    .main-content-portfolio {
        width: 710px;
        height: auto;
        padding-bottom: 20px;
        margin: 40px 10px 0 25px;
    }

    .portfolio-container {
        width: 710px;
        height: auto;
        margin-left: -10px;
    }

    .portfolio-container p {
        margin-top: 170px;
        padding: 15px 0;
        width: 319.5px;
    }

    #cyoa-pic, #hanged-pic, #rpg-pic, #trivia-pic, #horror-pic, #monster-pic  {
        width: 45%;
        height: 225px;
        margin-bottom: 30px;
        float: left;
    }

/*Hover Effects 768px*/

    #cyoa-pic:hover {
        height: 225px;
        width: 45%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/cyoa.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #hanged-pic:hover {
        height: 225px;
        width: 45%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/hanged.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #rpg-pic:hover {
        height: 225px;
        width: 45%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/rpg.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #trivia-pic:hover {
        height: 225px;
        width: 45%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/trivia.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #horror-pic:hover {
        height: 225px;
        width: 45%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/horror.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

    #monster-pic:hover {
        height: 225px;
        width: 45%;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/monster.jpg) center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
    }

/*CONTACT Page Elements 768px*/

    .contact-content {
        width: 710px;
        height: auto;
        padding-bottom: 10px;
        margin: 40px 10px 0 25px;
    }
} /*End 768px Media Query*/    

@media screen and (max-width: 640px) {
    
/*Consistent Page Elements 640px*/

    .main-section {
        width: 640px;
    }

    #title {
        width: 640px;
        margin: 0;
        float: none;
        font-size: 30px;
    }

    .menu-item {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 25px;
        font-weight: bold;
    }

    #menu-item-push {
        height: 60px;
        width: 550px;
        float: none;
        text-align: center;
        background-color: #dfdfdf;
        padding-left: 90px;
    }

    .side-bar {
        height: 175px;
        width: 580px;
        margin: 20px 20px 40px;
    }

    .side-bar h3 {
        border-bottom: 1.5px solid darkgray;
        padding-left: 0px;
    }

    footer {
        width: 640px;
        height: 80px;
        border-top: 10px solid #722f37;
        padding-top: 10px;
        margin: 20px 0 0;
    }

    #copy-text {
        left: 40%;
    }

    #icon-align {
        text-align: left;
        margin-top: 20px;
    }

/*ABOUT Page Elemenmts 640px*/

    .main-content {
        width: 580px;
        height: auto;
        margin: 20px 40px 20px 20px;
        padding-bottom: 40px;
    }

    .main-content h2 {
        font-size: 30px;
        padding-bottom: 30px;
        border-bottom: 3px solid darkgray;
    }

    #profile-picture {
        height: 375px;
        width: 95%;
        margin: 10px 0px 10px 0px;
        float: left;
        clear: both;
    }

/*PORTFOLIO Page Elements 640px*/

    .main-content-portfolio {
        width: 580px;
        height: auto;
        margin: 20px 40px 20px 20px;
        padding-bottom: 0px;
    }

    .main-content-portfolio h2 {
        font-size: 30px;
        padding-bottom: 30px;
        border-bottom: 3px solid darkgray;
    }

    .portfolio-container {
        width: 600px;
        height: auto;
        margin-left: -25px;
    }

    .portfolio-container p {
        margin-top: 330px;
        padding: 20px 0;
        width: 540px;
    }

    #cyoa-pic, #hanged-pic, #rpg-pic, #trivia-pic, #horror-pic, #monster-pic  {
        width: 540px;
        height: 400px;
        float: none;
        margin: 40px auto;
    }

/*Hover Effects 640px*/

    #cyoa-pic:hover {
        width: 540px;
        height: 400px;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/cyoa.jpg) center no-repeat;
        background-size: 100% 100%;
        margin: 40px auto;
    }

    #hanged-pic:hover {
        width: 540px;
        height: 400px;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/hanged.jpg) center no-repeat;
        background-size: 100% 100%;
        margin: 40px auto;
    }

    #rpg-pic:hover {
        width: 540px;
        height: 400px;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/rpg.jpg) center no-repeat;
        background-size: 100% 100%;
        margin: 40px auto;
    }

    #trivia-pic:hover {
        width: 540px;
        height: 400px;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/trivia.jpg) center no-repeat;
        background-size: 100% 100%;
        margin: 40px auto;
    }

    #horror-pic:hover {
        width: 540px;
        height: 400px;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/horror.jpg) center no-repeat;
        background-size: 100% 100%;
        margin: 40px auto;
    }

    #monster-pic:hover {
        width: 540px;
        height: 400px;
        background:      linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
        ),
        url(images/monster.jpg) center no-repeat;
        background-size: 100% 100%;
        margin: 40px auto;
    }


/*CONTACT Page Elements 640px*/

    .contact-content {
        width: 580px;
        height: auto;
        margin: 20px;
        padding-bottom: 0px;
    }

} /*End 640px Media Query*/